[submodule "RobustToolbox"]
	path = RobustToolbox
	url = https://github.com/space-wizards/RobustToolbox.git
	branch = master
[submodule "Content.Server/Administration/DiscordExtension"]
	path = Content.Server/Administration/DiscordExtension
	url = https://github.com/Myzumi/ss14-bot-extension
